

<h4>Asignar Especie a Ecosistema</h4>

<form method="post">

    <select name="EspecieId">

        @foreach (var e in ViewBag.Especies)
        {
            <option value="@e.EspecieId">@e.Nombre</option>
        }

    </select>
    <select name="EcosistemaId">

        @foreach (var ec in ViewBag.Ecosistemas)
        {
            <option value="@ec.Ecosistemas">@ec.Nombre</option>
        }

    </select>

    <input type="submit" value="Asignar" class="btn btn-primary" />
</form>


