@model Domain.DTO.EspecieDTO

@{
    ViewData["Title"] = "Agregar nueva especie";
}

<h1>Create</h1>

<h4>EspecieDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="NombreCientifico" class="control-label"></label>
                <input asp-for="NombreCientifico" class="form-control" />
                <span asp-validation-for="NombreCientifico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreVulgar" class="control-label"></label>
                <input asp-for="NombreVulgar" class="form-control" />
                <span asp-validation-for="NombreVulgar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Peso minimo</label>
                <input asp-for="PesoMin" class="form-control" />
                <span asp-validation-for="PesoMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Peso maximo</label>
                <input asp-for="PesoMax" class="form-control" />
                <span asp-validation-for="PesoMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Estado de conservacion</label>
                <select name="EstadoConservacion">
                    @foreach (var ec in ViewBag.estados)
                    {
                        <option value="@ec.EstadoConservacionId">@ec.Nombre</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" type="file" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
