################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ObligatorioP3/v17
/Obligatorio_P3/Obligatorio_P3/obj/Obligatorio_P3.csproj.nuget.dgspec.json
/Obligatorio_P3/Obligatorio_P3/obj/project.assets.json
/Obligatorio_P3/Obligatorio_P3/obj/project.nuget.cache
/Obligatorio_P3/Obligatorio_P3/obj/Debug/net7.0/Obligatorio_P3.assets.cache
/Obligatorio_P3/Obligatorio_P3/obj/Debug/net7.0/Obligatorio_P3.GeneratedMSBuildEditorConfig.editorconfig
/Obligatorio_P3/Obligatorio_P3/obj/Debug/net7.0/Obligatorio_P3.assets.cache
/Obligatorio_P3/Obligatorio_P3/obj/Obligatorio_P3.csproj.nuget.dgspec.json
/Obligatorio_P3/Obligatorio_P3/obj/project.assets.json
/Obligatorio_P3/Obligatorio_P3/obj/project.nuget.cache
/Obligatorio_P3/Obligatorio_P3/obj/Debug/net7.0/Obligatorio_P3.GeneratedMSBuildEditorConfig.editorconfig
